@charset "utf-8";
html {
    height: 120vh;
}

body{
    margin: 0;
    height: 100%;
    background-image: url("../images/blured_usarb_upscale.png");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
}

main{
	display: grid;
	height: 100%;
    grid-template-columns: 37% 63%;
    padding: 0px 40px;
	margin: 0px 120px;

}

#main_section{
    height: 100%;
}
#header_name{
	margin: 20px 0px;
	display:flex;
	align-items: center;
	justify-content: center;
    height: 50px;
    width: 100%;
	padding: 10px 0px 10px 0px;
    background-color: white;

}
#header_name h1{
    margin: 0;
	width: 100%;
    text-align:center;
    color: #666666;
    font-weight: 900;
	font-size: 1.5em;

}

#secondary_section{
    height: 100%;
}
#under_buttons{
	display: flex;
	height: 50px;
	width: 100%;
	justify-content: space-between;
}
button{
	margin: 0;
	border: 0;
	padding: 0 20px;
	display: block;
	height: 40px;
	background-color: #288855;
	color: #FFFFFF;
	font-size: 12pt;
	font-weight: bold;
	
}
button:hover{
	background-color:#FFFFFF;
	color: black;
	transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}

