@charset "utf-8";
html {
    height: 120vh;
}

body{
    margin: 0;
    height: 100%;
    background-image: url("../images/blured_usarb_upscale.png");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
}

main{
	display: grid;
	height: 100%;
    grid-template-columns: 37% 63%;
    padding: 0px 40px;
	margin: 0px 120px;

}

#main_section{
    height: 100%;
}
#header_name{
	margin: 20px 0px;
	display:flex;
	align-items: center;
	justify-content: center;
    height: 50px;
    width: 100%;
	padding: 10px 0px 10px 0px;
    background-color: #FFFFFF;

}
#header_name h1{
    margin: 0;
	width: 100%;
    text-align:center;
    color: #666666;
    font-weight: 900;
	font-size: 1.5em;

}

#secondary_section{
    height: 100%;
}
#under_buttons{
	display: flex;
	height: 40px;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 20px;
}
button{
	margin: 0;
	border: 0;
	padding: 0 20px;
	display: block;
	height: 40px;
	background-color: #288855;
	color: #FFFFFF;
	font-size: 12pt;
	font-weight: bold;
	
}
button:hover{
	background-color:#FFFFFF;
	color: #000000;
	cursor:pointer;
	transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}
#input_area{
	display:grid;
	grid-template-columns: 9% 91%;
	height: 25px;
	width: 100%;
	background-color: #FFFFFF;
	margin-bottom: 20px;
}

#input_area img{
	display:block;
	height: 25px;
	width: 25px;
}

#input_area input{
	display:block;
	border:none;
	outline:none;
	font-size: 11pt;
	font-weight:600;
	color:#808080;
	padding: 0px 2px;
}

#search_results{
	height: 100px;
	width: 100%;
	margin-bottom: 20px;
	background-color: #FFFFFF;
}

#search_results ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-weight: 500;
	color:#808080;
}

#search_results li{ padding: 0px 10px; }

#search_results li:hover{
	background-color: #F5F5C5;
	color: #10BB60;
	cursor: pointer;
	transition: background-color 80ms ease-in-out, color 80ms ease-in-out;
}

#days_option, #weeks_option{
	display: block;
	height: 40px;
	width: 100%;
	color: #757575;
	outline: none;
	border:none;
	margin-bottom: 20px;
	font-size: 11pt;
	font-weight: 600;
}

#days_option option, #weeks_option option{ font-size: 11pt; }

#timetable_lessons{
	display:flex;
	height: 200px;
	width: 100%;
	background-color:#FFFFFF;
	flex-direction: column;
	flex-wrap: wrap;	
}

#calendar_day_number{
	display:flex;
	flex-direction: row;

}
#calendar_day_number div{
	text-align: center;
	width: 100%;
	border: 1px solid red;
}

#calendar_day_abbreviation{
	/*Time to do push*/
}

#calendar_day_abbreviation div{
	/*In work*/
}


